/* PAGINA DE RUTINAS */
.rutinas-list {
    margin: 20px;
}

.rutina-title {
    padding: 15px;
    background: linear-gradient(45deg, #0ef, #c800ff);
    border-radius: 10px;
    box-shadow: 4px 2px 8px #c800ff;
    margin-bottom: 10px;
}

.rutina-title a {
    text-decoration: none;
    color: #fff;  
    display: block; 
}


.rutina-title a:hover {
    text-decoration: underline;
}
