/* PAGINA DE CLIENTE ID */


.cliente-id {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
    
}

#boton-cliente-id{
    align-items: center;
    display: flex;
    flex-direction: column;
}

#boton-cliente-id a button {
    color: aliceblue;
    text-decoration: none;
    border: none;
    outline: none;
    width: 288px;
    margin-top: 25px;
    margin-left: 50px;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef, #c800ff);
}

.tarjeta {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 2px 8px #c800ff;
    margin: 20px 0; /* Margen en la parte superior e inferior */
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center; /* Centrar en el eje horizontal */
}

.formulario {
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto; /* Centrar en el eje horizontal */
}

.mostrar {
    width: 50%;
    margin: 0 auto; /* Centrar en el eje horizontal */
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

.tarjeta form {
    width: 100%; /* Ajusta según tus necesidades */
    box-sizing: border-box;
}

.tarjeta h2,
.tarjeta h3 {
    width: 100%; 
    box-sizing: border-box;
    margin: 0;
    color: aliceblue; 
}


.tarjeta h2 {
    margin-bottom: 10px; 
}

.rutinas-container-fullwidth {
    width: 100%;
    box-sizing: border-box;
    height: auto;
}

.rutinas-container {
    padding: 20px;
    border-radius: 10px;
    overflow: hidden; 
    margin: 20px 0; 
    height: auto;
}


/* Estilos para las tarjetas de rutina */
.rutinas-container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.rutinas-container li {
    text-align: center;
    display: flex;
    width: 60%;
    box-shadow: 4px 2px 8px #c800ff;
    margin: 0px 20px 20px 20px;
    padding: 20px 20px;
    border-radius: 10px;
    color: #0ef;
    
}

.rutinas-container img {
    height: 200px;
    width: 200px;
}

p{
    color: aliceblue;
}

.ejercicio-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ejercicio-tarjeta {
    margin: 15px 15px;
    width: calc(25% - 30px);
    box-sizing: border-box; 
}

.descargar-pdf{
    border: none;
    outline: none;
    width: 288px;
    margin: 25px 25px;
    padding: 10px 0;
    font-size:20px;
    border-radius: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    background: linear-gradient(45deg, #0ef, #c800ff);
    color: aliceblue;

}

/* Ajusta el diseño para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .ejercicio-tarjeta {
        width: calc(50% - 30px); 
    }
}

/* Ajusta el diseño para pantallas aún más pequeñas */
@media screen and (max-width: 480px) {
    .ejercicio-tarjeta {
        width: 100%; 
        margin-bottom: 15px; 
    }
}